#mainfirst{
    height: 110vh;
    position: relative;
    margin-bottom:23px;
    width: 100%;
    background: url("https://www.andindia.com/on/demandware.static/-/Sites-AND-Library/default/dwfb691bca/images/June_2025/AND_offer_section_banner.jpg")no-repeat center/cover;


}